body {
    background-color: #FFF8E7;
    color: black;
    /* Default text color to white */
}

#section-bar {
    height: 50px;
    width: 100%;
    background-color: #FFFFFF;
}

#section-bar span {
    display: inline-block;
    font-size: 16px;
    color: #63A3D0;
}


/* Banner Section  */

#Banner {
    height: calc(100vh - 34px);
    background: url(img/Hero\ picture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    width: 100%;
    position: relative;
    padding-top: 34px;
}

.banner-title {
    position: absolute;
    top: 35%;
    left: 2%;
    width: 579px;
    height: 149px;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #C6E4A1;
}

.banner-subtitle {
    position: absolute;
    top: 50%;
    left: 2%;
    width: 321px;
    height: 28px;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    color: #5E9FCE;
}

.banner-button {
    position: absolute;
    top: 57%;
    left: 2%;
    width: 150px;
    height: 40px;
    background-color: #C6E4A1;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
}


/* Group 1 */

#group-1 {
    /* background: black; */
}

#group-1 .group-1-text h2 {
    /* color: #C6E4A1; */
}

#group-1 h2 {
    /* color: #C6E4A1; */
    font-size: 2rem;
}

#group-1 .group-1-text h3 {
    /* color: white; */
}

#group-1 .group-1-text h5 {
    /* color: #C6E4A1; */
}

#group-1 .group-1-text .bold {
    font-weight: bolder;
}


/* Group 2 */

#group-2 {
    /* background: black; */
}

#group-2 .group-2-text h2 {
    /* color: #C6E4A1; */
}

#group-2 .group-2-text p {
    /* color: white; */
}


/* Symptoms */

#symptoms {
    /* background: black; */
}

#Image {
    /* background: black; */
}

#symptoms .symptoms-heading {
    border-radius: 20px;
    height: 80px;
}

#Image .symptoms-heading {
    border-radius: 20px;
    height: 80px;
}

.underline {
    /* background: #C6E4A1; */
    height: 5px;
    width: 60px;
    margin-top: -8px;
}

#center {
    /* background: black; */
}

#prices .container {
    background: #C6E4A1;
}


/* Form */

.form-section {
    background-color: #FFFFFF;
    /* Dark background for the form section */
    color: #000;
    /* White text for the form section */
}

.form-heading {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Public Sans', sans-serif;
}

.form-group label {
    color: #000;
    /* Ensure labels are white */
}

.form-control {
    background-color: #FFF;
    /* Dark background for form controls */
    color: #000;
    /* White text for form controls */
    border: 2px solid #000;
    /* Border color for form controls */
}

.form-control::placeholder {
    color: #000;
    /* Placeholder color for form controls */
}

.btn-primary {
    background-color: #C6E4A1;
    /* Button background color */
    border-color: #C6E4A1;
    color: #000;
    /* Button border color */
}

.btn-primary:hover {
    background-color: #FFF;
    /* Button background color on hover */
    border-color: #000;
    color: #000;
    /* Button border color on hover */
}

#footer {
    background: #FFF;
}